<a href="https://colab.research.google.com/github/lucaslapazini95/conexao-python-mongodb/blob/main/mongodb_airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.9/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.9/dist-packages (from pymongo) (2.3.0)

In [ ]:
import pandas as pd
import os

In [ ]:
from pymongo import MongoClient

In [ ]:
#Conector MongoDB Atlas
uri = "mongodb+srv://clusteraula.8itujbf.mongodb.net/?authSource=%24external&authMechanism=MONGODB-X509&retryWrites=true&w=majority"
client = MongoClient(uri,tls=True,
                     tlsCertificateKeyFile='/content/X509-cert-7008105543966396362.pem')

In [ ]:
#Base de dados e coleção
db = client['soulcode']
colecao = db['colecao_airbnb_brutos']

In [ ]:
df = pd.read_csv('/content/airbnb_bruto.csv', sep=',')

In [ ]:
df

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1098,1098,2486.115342,Entire home/apt,False,False,2.0,False,0,0,10.0,100.0,1,2.375833,1.436054,181.198355,9.594573,225.304203,15.699521,4.85869,52.37677
1099,1099,233.637194,Private room,False,True,2.0,False,1,0,10.0,90.0,1,4.719736,0.322263,108.024880,5.719989,134.775277,9.391335,4.83611,52.34910
1100,1100,317.062311,Private room,False,True,2.0,False,1,0,10.0,92.0,1,0.598355,0.751993,440.476515,23.323524,625.947562,43.616927,4.88897,52.37798
1101,1101,1812.855904,Entire home/apt,False,False,4.0,False,0,0,8.0,84.0,5,1.943020,0.388532,257.948105,13.658524,336.589237,23.454022,4.90688,52.35794
1102,1102,258.008577,Shared room,True,False,2.0,False,0,0,8.0,90.0,1,0.280204,0.516217,533.962653,28.273677,807.492307,56.267226,4.89295,52.37575

In [ ]:
# Converter o DataFrame para um formato compatível com o MongoDB
lista_dicionarios_df = df.to_dict('records')

# Inserir os dados na coleção do MongoDB
colecao.insert_many(lista_dicionarios_df)

In [ ]:
df.rename(columns={'room_type':'tipo_quarto', 'room_shared':'quarto_compartilhado', 'room_private':'quarto_privado'},inplace=True)

In [ ]:
df.rename(columns={'person_capacity':'capacidade_pessoas','host_is_superhost':'superanfitriao', 'cleanliness_rating':'pontuacao_limpeza'},inplace=True)

In [ ]:
df.rename(columns={'bedrooms':'quartos', 'metro_dist':'dist_metro','multi':'multi_quartos','biz':'negocios'},inplace=True)

In [ ]:
df.rename(columns={'guest_satisfaction_overall':'satisfacao_hospedes_geral','dist':'dist_cidade','realSum':'preco_total'},inplace=True)

In [ ]:
df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
#Base de dados e coleção
db = client['soulcode']
colecao = db['colecao_airbnb_tratados']

In [ ]:
# Converter o DataFrame para um formato compatível com o MongoDB
lista_dicionarios_df = df.to_dict('records')

# Inserir os dados na coleção do MongoDB
colecao.insert_many(lista_dicionarios_df)